# vleaflet

vleaflet 是基于 Vue.py 和 ipyleaflet 开发的响应式地图组件库，在 Jupyter 中实现交互式地图。vleaflet 中的每个对象（包括地图、TileLayers、图层、控件等）都是响应式的：您可以从 Python 或浏览器动态更新属性。

## 安装

```sh
pip install 'vuepy-core[vleaflet]'
```

## 运行 

use 插件方式:

```python{2,7}
from vuepy import create_app, import_sfc
from vleaflet import leaflet

App= import_sfc('App.vue')  # 根据 App.vue 实际位置修改
app = create_app(App)
app.use(leaflet)
app.mount()
```

`%vuepy_run` 方式：

```python{2,4}
from vuepy.utils import magic
from vleaflet import leaflet

%vuepy_run app.vue --plugins leaflet
```

`%%vuepy_run` 方式：

```python{2,5}
from vuepy.utils import magic
from vleaflet import leaflet

# -- cell --
%%vuepy_run --plugins leaflet
<template>
  <vl-map :center="[53, 354]" />
</template>
```

{{ docs }}
